body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: white;
    text-align: center;
    background-image: url('DSC09944.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
header {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(31, 29, 29);
}
.header-content {
    position: relative;
    z-index: 1;
    text-align: center;
}
.image {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 300px;
    height: auto;
    z-index: 2;
}
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #2a2929;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
p {
    font-size: 1em;
}
section {
    padding: 20px;
    margin: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
}
footer {
    padding: 20px;
    margin-top: 20px;
    font-size: 0.5em;
}