body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: white;
    text-align: center;
    background-image: url('DSC09957.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
header {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(31, 29, 29);
}
.header-content {
    position: relative;
    z-index: 1;
    text-align: center;
}
.image_project {
    max-width: 45vw;
    height: auto;
}
.image_calendrier {
    max-width: 60vw;
    height: auto;
}
.image_budget {
    max-width: 35vw;
    height: auto;
}
.flex-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #2a2929;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
p {
    font-size: 1em;
}
section {
    padding: 2rem;
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
}
footer {
    padding: 2rem;
    margin-top: 2rem;
    font-size: 0.5em;
}